<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.bytecode.use_reflection_optimizer">false</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/test</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">root</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="show_sql">true</property>
		<property name="hibernate.hbm2ddl.auto">create</property>
		<!-- Cache Provider -->
		<property name="cache.provider_class">org.hibernate.cache.EhCacheProvider</property>
		<property name="hibernate.cache.use_second_level_cache">true</property>
		<property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</property>

		<!-- Mapping the entity classes -->
		<mapping class="com.hibernate.samples.basic.Stock"></mapping>
		<mapping class="com.hibernate.samples.basic.UserDetails"></mapping>
		<mapping class="com.hibernate.samples.basic.Animal"></mapping>
		<mapping class="com.hibernate.samples.basic.Tiger"></mapping>
		<mapping class="com.hibernate.samples.basic.Country"></mapping>
		<mapping class="com.hibernate.samples.basic.Capital"></mapping>
		<mapping class="com.hibernate.samples.basic.Employee"></mapping>
		<mapping class="com.hibernate.samples.basic.Department"></mapping>
		<mapping class="com.hibernate.samples.basic.Person"></mapping>
		<mapping class="com.hibernate.samples.basic.Vehicle"></mapping>
	</session-factory>
</hibernate-configuration>